<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.system.mapper.RoleDeptMapper">
    <select id="queryByRoleId" resultType="com.software.system.entity.Dept">
        select
            d.id,
            d.pid,
            d.sub_count,
            d.name,
            d.enabled,
            d.sort,
            d.create_time,
            d.create_user,
            d.update_time,
            d.update_user
        from
            sys_role_dept r,
            sys_dept d
        where
            r.dept_id = d.id
            and d.is_delete = 0
            and r.role_id = #{roleId}
    </select>
</mapper>