<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.system.mapper.RoleMapper">
    <select id="queryDataScopeByUserId" resultType="java.lang.String">
        select
            r.data_scope
        from
            sys_user_role ur
            left join sys_role r on ur.role_id = r.id
        where
            ur.user_id = #{userId}
            and r.is_delete = 0
    </select>

    <select id="queryRoleListByUserId" resultType="com.software.system.entity.Role">
        select
            r.id,
            r.name,
            r.level,
            r.description,
            r.data_scope,
            r.create_time,
            r.create_user,
            r.update_time,
            r.update_user
        from
            sys_user u
            left join sys_user_role ur on u.id = ur.user_id
            left join sys_role r on ur.role_id = r.id
        where
            u.is_delete = 0
          and r.is_delete = 0
          and u.id = #{userId}
    </select>

    <select id="queryPage" resultMap="RoleMenuDept">
        select
            id,
            `name`,
            `level`,
            description,
            data_scope,
            create_time,
            create_user,
            update_time,
            update_user
        from
            sys_role
        where
            is_delete = 0
            <if test="role.name != null and role.name != ''">
                and name like concat('%',#{role.name},'%')
            </if>
            <if test="role.description != null and role.description != ''">
                and description like concat('%',#{role.description},'%')
            </if>
            <if test="role.dataScope != null and role.dataScope != ''">
                and data_scope like concat('%',#{role.dataScope},'%')
            </if>
    </select>
    
    <resultMap id="RoleMenuDept" type="com.software.system.entity.Role">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="description" column="description"/>
        <result property="dataScope" column="data_scope"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUser" column="update_user"/>
        <collection property="menus" javaType="ArrayList" ofType="com.software.system.entity.Menu" select="queryRoleMenuByRoleId" column="id"/>
        <collection property="depts" javaType="ArrayList" ofType="com.software.system.entity.Dept" select="queryRoleDeptByRoleId" column="id"/>
    </resultMap>

    <select id="queryRoleMenuByRoleId" resultType="com.software.system.entity.Menu">
        select
            m.id,
            m.pid,
            m.sub_count,
            m.type,
            m.title,
            m.`name`,
            m.component,
            m.icon,
            m.path,
            m.i_frame,
            m.`cache`,
            m.hidden,
            m.permission,
            m.sort,
            m.create_time,
            m.create_user,
            m.update_time,
            m.update_user
        from
            sys_role r,
            sys_role_menu rm,
            sys_menu m
        where
            r.id = rm.role_id
            and rm.menu_id = m.id
            and m.is_delete = 0
            and r.id = #{id}
    </select>

    <select id="queryRoleDeptByRoleId" resultType="com.software.system.entity.Dept">
        select
            d.id,
            d.pid,
            d.sub_count,
            d.`name`,
            d.enabled,
            d.sort,
            d.create_time,
            d.create_user,
            d.update_time,
            d.update_user
        from
            sys_role r,
            sys_role_dept rd,
            sys_dept d
        where
            r.id = rd.role_id
            and rd.dept_id = d.id
            and d.enabled = 1
            and d.is_delete = 0
            and r.id = #{id}
    </select>
</mapper>