<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.system.mapper.RoleMapper">
    <select id="queryDataScopeByUserId" resultType="java.lang.String">
        SELECT
            r.data_scope
        FROM
            sys_user_role ur
                LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE
            ur.user_id = #{userId}
          AND r.is_delete = 0
    </select>

    <select id="queryRoleListByUserId" resultType="com.software.system.entity.Role">
        SELECT
            r.id,
            r.NAME,
            r.LEVEL,
            r.description,
            r.data_scope,
            r.create_by,
            r.update_by,
            r.create_time,
            r.update_time,
            r.is_delete
        FROM
            sys_user u
                LEFT JOIN sys_user_role ur ON u.id = ur.user_id
                LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE
            u.is_delete = 0
          AND r.is_delete = 0
          AND u.id = #{userId}
    </select>

    <select id="queryPage" resultMap="RoleMenuDept">
        SELECT
            id,
            `name`,
            `level`,
            description,
            data_scope,
            create_by,
            update_by,
            create_time,
            update_time
        FROM
            sys_role
        WHERE
            is_delete = 0
            <if test="role.name != null and role.name != ''">
                AND name LIKE CONCAT('%',#{role.name},'%')
            </if>
            <if test="role.description != null and role.description != ''">
                AND description LIKE CONCAT('%',#{role.description},'%')
            </if>
            <if test="role.dataScope != null and role.dataScope != ''">
                AND data_scope LIKE CONCAT('%',#{role.dataScope},'%')
            </if>
    </select>
    
    <resultMap id="RoleMenuDept" type="com.software.system.entity.Role">
        <collection property="menus" javaType="ArrayList" ofType="com.software.system.entity.Menu" select="queryRoleMenuByRoleId" column="id"/>
        <collection property="depts" javaType="ArrayList" ofType="com.software.system.entity.Dept" select="queryRoleDeptByRoleId" column="id"/>
    </resultMap>

    <select id="queryRoleMenuByRoleId" resultType="com.software.system.entity.Menu">
        SELECT
            m.id,
            m.pid,
            m.sub_count,
            m.type,
            m.title,
            m.`name`,
            m.component,
            m.icon,
            m.path,
            m.i_frame,
            m.`cache`,
            m.hidden,
            m.permission,
            m.sort,
            m.create_by,
            m.update_by,
            m.create_time,
            m.update_time,
            m.is_delete
        FROM
            sys_role r,
            sys_role_menu rm,
            sys_menu m
        WHERE
            r.id = rm.role_id
          AND rm.menu_id = m.id
          AND m.is_delete = 0
          AND r.id = #{id}
    </select>

    <select id="queryRoleDeptByRoleId" resultType="com.software.system.entity.Dept">
        SELECT
            d.id,
            d.pid,
            d.sub_count,
            d.`name`,
            d.enabled,
            d.sort,
            d.create_by,
            d.update_by,
            d.create_time,
            d.update_time,
            d.is_delete
        FROM
            sys_role r,
            sys_role_dept rd,
            sys_dept d
        WHERE
            r.id = rd.role_id
          AND rd.dept_id = d.id
          AND d.enabled = 1
          AND d.is_delete = 0
          AND r.id = #{id}
    </select>
</mapper>