<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.system.mapper.UserMapper">
    <select id="queryPage" resultType="com.software.system.entity.User">
        select
            u.id,
            u.dept_id,
            u.username,
            u.nick_name,
            u.sex,
            u.phone,
            u.email,
            u.avatar_name,
            u.avatar_path,
            u.`password`,
            u.is_admin,
            u.enabled,
            u.create_user,
            u.update_user,
            u.pwd_reset_time,
            u.create_time,
            u.update_time,
            d.`name` as deptName,
            group_concat( distinct ur.role_id ) as roleIds,
            group_concat( distinct uj.job_id ) as jobIds
        from
            sys_user u
            left join sys_dept d on u.dept_id = d.id
            left join sys_user_role ur on u.id = ur.user_id
            left join sys_user_job uj on u.id = uj.user_id
        where
            u.is_delete = 0
        <if test="user.username != null and user.username != ''">
            and u.username like CONCAT('%',#{user.username},'%')
        </if>
        <if test="user.email != null and user.email != ''">
            and u.email = #{user.email}
        </if>
        <if test="user.enabled != null and user.enabled != '' or user.enabled == false">
            and u.enabled = #{user.enabled}
        </if>
        <if test="dataScope != null and dataScope.size() > 0">
            and d.id in
            <foreach collection="dataScope" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by
            u.id,
            u.dept_id,
            u.username,
            u.nick_name,
            u.sex,
            u.phone,
            u.email,
            u.avatar_name,
            u.avatar_path,
            u.`password`,
            u.is_admin,
            u.enabled,
            u.create_user,
            u.update_user,
            u.pwd_reset_time,
            u.create_time,
            u.update_time,
            d.`name`
    </select>
</mapper>