<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.workflow.mapper.FlowDeployInsFormMapper">

    <select id="queryProcDefPage" resultType="com.software.workflow.dto.FlowProcDefDto">
        select
            rp.id_ as id,
            rp.deployment_id_ as deploymentId,
            rd.name_ as name,
            rd.category_ as category,
            rp.key_ as flowKey,
            rp.version_ as version,
            rp.suspension_state_ as suspensionState,
            rd.deploy_time_ as deploymentTime,
            ff.form_id,
            ff.form_name
        from
            act_re_procdef rp
            left join act_re_deployment rd on rp.deployment_id_ = rd.id_
            left join flow_deploy_ins_form fdif on rd.id_ = fdif.deploy_id
            left join flow_form ff on fdif.form_id = ff.form_id
        <where>
            <if test="name != null and name != ''">
                and rd.name_ like concat('%', #{name}, '%')
            </if>
        </where>
        order by rd.deploy_time_ desc
    </select>

</mapper>